<a href="https://colab.research.google.com/github/NishanthBlack28/UI-DESIGN/blob/main/Copy_of_TeamA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The task was completed as a team. The team members are Nishanth P, Ajay Kumar S, and Ragu Ram M.

In [ ]:
def main():
  try:
    i_d = int(input("Enter ID: "))
    s_d = int(input("Enter Start Date: "))
    e_d = int(input("Enter End Date: "))
    roll = input("Enter the Roll: ")
    gra = input("Enter a Grade: ")
    loca = input("Enter a location: ")
    ten = int(input("Enter tenure: "))
    gen = input("Enter Gender: ")
    edu = input("Enter Education: ")
    age = int(input("Enter Age: "))
    rating = int(input("Enter Last Rating: "))
    m_in = int(input("Enter Montly Income: "))
    e_s = int(input("Enter Engagement sorce: "))
    mat = input("Enter Mairtal Status: ")
    zone = input("Enter Zone: ")
    remarks = input("Enter Remark: ")

    print("\n\nID:", i_d)
    print("Start Date:", s_d)
    print("End Date:", e_d)
    print("Roll:", roll)
    print("Grade:", gra)
    print("Location:", loca)
    print("Tenure:", ten)
    print("Gender:", gen)
    print("Education:", edu)
    print("Age:", age)
    print("Last Rating:", rating)
    print("Monthly Income:", m_in)
    print("Engagement sorce:", e_s)
    print("Mairtal Status:", mat)
    print("Zone:", zone)
    print("Remark:", remarks)
  except ValueError:
    print("Invalid input. Please enter a valid integer.")

if __name__ == "__main__":
  main()

Enter ID: 12345
Enter Start Date: 20120508
Enter End Date: 20150808
Enter the Roll: Sales
Enter a Grade: B
Enter a location: New York
Enter tenure: 5
Enter Gender: Male
Enter Education: Master's
Enter Age: 30
Enter Last Rating: 4
Enter Montly Income: 10000
Enter Engagement sorce: 74
Enter Mairtal Status: Married
Enter Zone: US
Enter Remark: Good Employee


ID: 12345
Start Date: 20120508
End Date: 20150808
Roll: Sales
Grade: B
Location: New York
Tenure: 5
Gender: Male
Education: Master's
Age: 30
Last Rating: 4
Monthly Income: 10000
Engagement sorce: 74
Mairtal Status: Married
Zone: US
Remark: Good Employee